body {
  background-color: #dbf8ff;
  text-align: center;
}

h1 {
  background-color: #f185ff;
  padding: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table,
th,
td {
  border: 1px solid black;
}

img {
  width: 50%;
}

h2 {
  font-size: 20px;
}